	.para{
		font-size: 22px;
		color:#f00;
		text-align: center;
		padding-left: 20px;
	}
	.para2{
		font-size:44px;
		color:#3ed;
		text-indent: 2em;
		padding-left: 2em;
	}
	.para_bg{
		background-color:#000;
	}

	p.para{
		color:#f0f;
	}
	div#content p {
		font-size:22px;
	}